<%- include("partials/header"); -%>


    <h1><%=location%></h1>
    <h1><%=price%></h1>
    <h1><%=occupation%></h1>
    <h1><%=gender%></h1>
    <h1><%=singleOrSharing%></h1>
    <h1><%=title%></h1>

    <p><%=content%></p>



<%- include("partials/footer"); -%>
